@media (max-width:1024px) {
    body{
        background-color: blue;
    }
}


@media (max-width:991px) {
    
body{
    background-color: brown;
}
}

@media (max-width:767px) {
    body{
        background-color: aqua;
    }
}

@media (max-width:330px) {
    body{
        background-color: black;
    }
    
}